[submodule "spec/ruby"]
	path = spec/ruby
	url = https://github.com/ruby/spec.git
	branch = master
[submodule "spec/mspec"]
	path = spec/mspec
	url = https://github.com/ruby/mspec.git
	branch = master
